<div>
    <h1>Nuevo Producto</h1>
    <br>

    <form action="/productos" method="post">

        <div>
            <label for="title"><b>Titulo</b></label>
            <input id="title" placeholder="Ingrese un titulo" type="text" name="title">
        </div>

        <div>
            <label for="price"><b>Precio</b></label>
            <input id="price" placeholder="Ingrese un precio" type="text" name="price">
        </div>

        <div>
            <label for="thumbnail"><b>Foto</b></label>
            <input id="thumbnail" type="file" name="thumbnail">
        </div>

        <button>Enviar</button>
    </form>
</div>