<div class="flex flex-col absolute top-0 justify-items-center items-center w-full h-full bg-red-50 gap-12">
  <h1 class="text-rose-700 font-extrabold text-4xl">Nuevo Producto</h1>

  <form action="/api/products" method="post" class="flex flex-col gap-2 justify-items-center">
   
      <div class="flex flex-col gap-2">
        <label class="text-amber-600 font-bold" for="title">Titulo</label>
        <input id="title" placeholder="Ingrese un titulo" type="text" name="title" class="rounded-md border-none">
      </div>
      <div class="flex flex-col gap-2">
        <label class="text-amber-600 font-bold" for="price">Precio</label>
        <input id="price" placeholder="Ingrese un precio" type="text" name="price" class="rounded-md border-none">
      </div>
      <div class="flex flex-col gap-2">
        <label class="text-amber-600 font-bold" for="thumbnail">Foto</label>
        <input id="thumbnail" type="file" name="thumbnail" class="border-none">
      </div>

    <button class="rounded-md bg-rose-700 w-16 text-slate-50">Enviar</button>
  </form>
</div>