div
    h2 Productos
        if products.length != 0
            div
                table
                    tr
                        th Titulo
                        th Precio
                        th Foto
                    each val in products
                        tr
                            td= val.title
                            td= val.price
                            td
                                img(src=val.thumbnailPath, alt=val.title)
        else
            h3 No se encontraron productos