div
    div    
        h1 Add product
        form(action="/products", method="post")
            div
            label(for="title") Titulo
            input(type="text", name="title")
            div
            label(for="price") Price
            input(type="text", name="price")
            div
            label(for="thumbnail") Thumbnail
            input(type="text", name="thumbnail")
            button Send
        h2 Historial
        if products.length != 0
            div
                table
                    tr
                        th Titulo
                        th Precio
                        th Foto
                    each val in products
                        tr
                            td= val.title
                            td= val.price
                            td
                                img(src=val.thumbnailPath, alt=val.title)
        else
            h3 No products

